:root {
    --console-width: 500px;
}
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1 {
    text-align: center;
}
#container {
    width: var(--console-width);
}
#display {
    background-color: black;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 400px;
}
#display > p {
    color: inherit;
    font-family: monospace;
}
.input-bar {
    display: flex;
    flex-direction: row;
    height: 30px;
    font-size: 16pt;
}
button {
    background-color: navy;
    color: white;
}
input {
    border-color: #AFAFAF;
    border-width: 1px;
    border-style: solid;
}